#### 1. Import pandas library

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.8 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [45]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [46]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [47]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [48]:
data = pd.read_sql_query('SELECT * FROM stats.users',engine)
data.head()

   Id  Reputation  ...   Age                     ProfileImageUrl
0  -1           1  ...   NaN                                None
1   2         101  ...  37.0                                None
2   3         101  ...  35.0                                None
3   4         101  ...  28.0  http://i.stack.imgur.com/d1oHX.jpg
4   5        6792  ...  35.0                                None

[5 rows x 14 columns]

#### 5. Rename Id column to userId

In [49]:
users = data.rename(columns={'Id': 'userId'}).head()
users.head()

   userId  Reputation  ...   Age                     ProfileImageUrl
0      -1           1  ...   NaN                                None
1       2         101  ...  37.0                                None
2       3         101  ...  35.0                                None
3       4         101  ...  28.0  http://i.stack.imgur.com/d1oHX.jpg
4       5        6792  ...  35.0                                None

[5 rows x 14 columns]

#### 6. Import the posts table.

In [50]:
posts = pd.read_sql_query('SELECT * FROM stats.posts',engine)
posts.head()

   Id  PostTypeId  ...  OwnerDisplayName LastEditorDisplayName
0   1           1  ...              None                  None
1   2           1  ...              None                  None
2   3           1  ...              None                  None
3   4           1  ...              None                  None
4   5           2  ...              None                  None

[5 rows x 21 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId

In [ ]:
posts2 = posts.rename(columns={'Id': 'postID', 'OwnerUserId': 'userId'}).head()
posts2.head()

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [51]:
users_filt = users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_filt = posts2[['postID','Score','userId','ViewCount','CommentCount']]
posts_filt.head()

   postID  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [58]:
merged_df = pd.merge(left=users_filt, right=posts_filt)
merged_df.head(4)

Empty DataFrame
Columns: [userId, Reputation, Views, UpVotes, DownVotes, postID, Score, ViewCount, CommentCount]
Index: []

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
users.info()

In [ ]:
merged_df.info()

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [59]:
merged_df[['ViewCount']] = merged_df[['ViewCount']].fillna(0)
merged_df.head()

Empty DataFrame
Columns: [userId, Reputation, Views, UpVotes, DownVotes, postID, Score, ViewCount, CommentCount]
Index: []

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.