#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
users=pd.read_sql_query('select * from stats.users',engine)
users.head(2)

   Id  Reputation        CreationDate  ... AccountId   Age ProfileImageUrl
0  -1           1 2010-07-19 06:55:26  ...        -1   NaN            None
1   2         101 2010-07-19 14:01:36  ...         2  37.0            None

[2 rows x 14 columns]

#### 5. Rename Id column to userId

In [5]:
users=users.rename(columns={"Id": "userId"})
users.head(2)

   userId  Reputation        CreationDate  ... AccountId   Age ProfileImageUrl
0      -1           1 2010-07-19 06:55:26  ...        -1   NaN            None
1       2         101 2010-07-19 14:01:36  ...         2  37.0            None

[2 rows x 14 columns]

#### 6. Import the posts table.

In [6]:
posts=pd.read_sql_query('select * from stats.posts',engine)
posts.head(2)

   Id  PostTypeId  ...  OwnerDisplayName LastEditorDisplayName
0   1           1  ...              None                  None
1   2           1  ...              None                  None

[2 rows x 21 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts=posts.rename(columns={"Id": "postId","OwnerUserId":"userId"})
posts.head(2)

   postId  PostTypeId  ...  OwnerDisplayName LastEditorDisplayName
0       1           1  ...              None                  None
1       2           1  ...              None                  None

[2 rows x 21 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users_v2=users[["userId","Reputation","Views","UpVotes","DownVotes"]]
posts_v2=posts[["postId","Score","userId","ViewCount","CommentCount"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
merged_data=pd.merge(left=users_v2,right=posts_v2,left_on='userId',right_on='userId')

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
merged_data.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [11]:
merged_data[merged_data['ViewCount'].isnull()].head(2)

   userId  Reputation  Views  UpVotes  ...  postId  Score  ViewCount  CommentCount
0      -1           1      0     5007  ...    2175      0        NaN             0
1      -1           1      0     5007  ...    8576      0        NaN             0

[2 rows x 9 columns]

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step


We will fill them, there are too many rows to drop and there is a relation between Views and ViewCount where ViewCount is at least the same as Views. So, we are gonig to overwrite ViewCount with the same values as Views even when some values will be underestimated. Also, we realize that there were some posts with 0 Views but exactly 5007 UpVotes which didn't make sense to us, so we droped those rows (218)

In [12]:
merged_data_clean=merged_data
merged_data_clean.loc[merged_data_clean['ViewCount'].isnull(),'ViewCount']=merged_data_clean['Views']
merged_data_clean.drop(merged_data_clean[(merged_data_clean['UpVotes'] == 5007)&(merged_data_clean['ViewCount']==0)].index, inplace = True)

merged_data_clean[(merged_data_clean['Views']==0)&(merged_data_clean['UpVotes']==5007)]

Empty DataFrame
Columns: [userId, Reputation, Views, UpVotes, DownVotes, postId, Score, ViewCount, CommentCount]
Index: []

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
merged_data_clean = merged_data_clean.astype({"userId": str, "postId": str})
merged_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90373 entries, 211 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90373 non-null  object
 1   Reputation    90373 non-null  int64
 2   Views         90373 non-null  int64
 3   UpVotes       90373 non-null  int64
 4   DownVotes     90373 non-null  int64
 5   postId        90373 non-null  object
 6   Score         90373 non-null  int64
 7   ViewCount     90373 non-null  float64
 8   CommentCount  90373 non-null  int64
dtypes: float64(1), int64(6), object(2)
memory usage: 6.9+ MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [14]:
stats=merged_data_clean.describe().transpose()
stats['IQR']=stats['75%']-stats['25%']

outliers=pd.DataFrame(columns=merged_data_clean.columns)
for col in stats.index:
  iqr=stats.at[col,'IQR']
  cutoff=iqr*1.5
  lower=stats.at[col,'25%']-cutoff
  upper=stats.at[col,'75%']+cutoff
  results=merged_data_clean[(merged_data_clean[col]<lower)|(merged_data_clean[col]>upper)].copy()
  results['Outlier']=col
  outliers=outliers.append(results)
outliers.head()

     userId Reputation Views UpVotes  ... Score ViewCount CommentCount     Outlier
1155     88      14082  3320    4235  ...    25    3320.0            0  Reputation
1156     88      14082  3320    4235  ...     5    3320.0            0  Reputation
1157     88      14082  3320    4235  ...     7    3320.0            1  Reputation
1158     88      14082  3320    4235  ...     6    3320.0            3  Reputation
1159     88      14082  3320    4235  ...     7    3320.0            0  Reputation

[5 rows x 10 columns]

In [15]:
from google.colab import files

In [ ]:
(outliers.to_csv(index=False))