#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [6]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [7]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [14]:
users = pd.read_sql_query('SELECT * FROM stats.users;', engine)
users.head()

   Id  Reputation  ...   Age                     ProfileImageUrl
0  -1           1  ...   NaN                                None
1   2         101  ...  37.0                                None
2   3         101  ...  35.0                                None
3   4         101  ...  28.0  http://i.stack.imgur.com/d1oHX.jpg
4   5        6792  ...  35.0                                None

[5 rows x 14 columns]

#### 5. Rename Id column to userId

In [18]:
users = users.rename(columns={'Id':'userId'})
users.head()

   userId  Reputation  ...   Age                     ProfileImageUrl
0      -1           1  ...   NaN                                None
1       2         101  ...  37.0                                None
2       3         101  ...  35.0                                None
3       4         101  ...  28.0  http://i.stack.imgur.com/d1oHX.jpg
4       5        6792  ...  35.0                                None

[5 rows x 14 columns]

#### 6. Import the posts table.

In [15]:
posts = pd.read_sql_query('SELECT * FROM stats.posts;', engine)
posts.head()

   Id  PostTypeId  ...  OwnerDisplayName LastEditorDisplayName
0   1           1  ...              None                  None
1   2           1  ...              None                  None
2   3           1  ...              None                  None
3   4           1  ...              None                  None
4   5           2  ...              None                  None

[5 rows x 21 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId

In [16]:
posts = posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
posts.head()

   postId  PostTypeId  ...  OwnerDisplayName LastEditorDisplayName
0       1           1  ...              None                  None
1       2           1  ...              None                  None
2       3           1  ...              None                  None
3       4           1  ...              None                  None
4       5           2  ...              None                  None

[5 rows x 21 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [19]:
users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [22]:
merged_df = posts.merge(users, left_on='userId', right_on='userId')
merged_df.head()

   postId  Score  userId  ViewCount  ...  Reputation  Views  UpVotes  DownVotes
0       1     23     8.0     1278.0  ...        6764   1089      604         25
1      16     16     8.0        NaN  ...        6764   1089      604         25
2      36     41     8.0    67396.0  ...        6764   1089      604         25
3      65     14     8.0        NaN  ...        6764   1089      604         25
4      78     33     8.0        NaN  ...        6764   1089      604         25

[5 rows x 9 columns]

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [23]:
merged_df.isnull().sum()

postId              0
Score               0
userId              0
ViewCount       48396
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [28]:
null_relation = merged_df.isnull().mean()
drop_cols = list(null_relation[null_relation > 0.1].index)
merged_df = merged_df.drop(drop_cols, axis=1)
merged_df.head()

   postId  Score  userId  CommentCount  Reputation  Views  UpVotes  DownVotes
0       1     23     8.0             1        6764   1089      604         25
1      16     16     8.0             3        6764   1089      604         25
2      36     41     8.0             7        6764   1089      604         25
3      65     14     8.0             3        6764   1089      604         25
4      78     33     8.0             4        6764   1089      604         25

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [30]:
merged_df['userId'] = merged_df['userId'].astype(int)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   postId        90584 non-null  int64
 1   Score         90584 non-null  int64
 2   userId        90584 non-null  int64
 3   CommentCount  90584 non-null  int64
 4   Reputation    90584 non-null  int64
 5   Views         90584 non-null  int64
 6   UpVotes       90584 non-null  int64
 7   DownVotes     90584 non-null  int64
dtypes: int64(8)
memory usage: 6.2 MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.